# Deploying A Schedule Building Algorithm
> Automating a manual process!

- toc:true
- badges: true
- comments: true
- author: David De Sa
- categories: [jupyter]

# Context
## Goal
Deploy an algorithm for schedulers to use that is:

-easy to use and learn

-transparent

-quick

-flexible

## Motivation
In a 24/7 manufacturing environment, the weekend shifts are covered mostly by overtime, which is scheduled according to employee availability, subject to constraints outlined in the labour collective agreement. Due to changing production needs as well as staff availability, the schedule must be re-drafted many times, often on short notice and under tight time constraints. Drafting it is tedious, error-prone, and time consuming. It could be automated.

## Challenges
-Data being manually entered in a variety of formats or not available in machine readable form. (e.g. total hours, employee type, employee availability, individualized job restrictions, outlier reasons for non-eligibility such as consecutive days worked) This is probably the main challenge!!

-Algorithm ambiguity. The collective agreement defines the constraints that each assignment decision is subject to, but doesn't strictly specify all aspects, allowing for arbitrary choice on schedulers part

-Many esoteric rules and edge cases around assignments being valid or not, which are also subject to change at time of contract renegotiation.

-Usability. The deployment must be available to all schedulers, and have a very low barrier to entry w.r.t. training and usability.

## A Bit Of Lore
The notion of automating the process solution has been bouncing around my head for over a year. I always felt the main challenge was the situation posed by the data... the bad formatting relegated to excel sheets, necessarily made that way from human input and usage modality not being the same as what is best for machine readability. I am very confident I could make something that worked in VBA, but the nature of that language makes it such a pain to develop with, particularly with bad formatting. I knew python was a better solution, but didn't have the bridge between the two to make something that worked. Finally when following the FastAI course I came across the HFS+Gradio wombo combo for sharing python scripts publicly via a great UI. This discovery got me to finally choose to commit to that solution path

# Solution
## Codebase
Using Gradio hosted via HFS for making a python algorithm available with easy integration of inputs and outputs. At first blush I thought that Pandas DataFrames would be the best input mode for tabular data, but ruled that out when HFS didn't allow for bulk copying and pasting. Maybe that was for the best because this pushed me to figure out how to work with the generic File input/output mode. It might be a little more painful to program (have to define methods to identify the right tables within the excel file), but a lot nice on the end user experience (drag and drop relevant files and go!). I was concerned about the extra steps of processing the excel file, but as with everything Python there is a library for that! I started off with some basic tests to ensure that what I wanted/needed to do was possible.

### File Manipulation
Here is my proof of concept for File manipulation. If copied into an empty Gradio space on HFS, it takes in an excel file, and adds a new table to the spreadsheet. This was all i needed to know that this could be done...

In [ ]:
import gradio as gr
import openpyxl as pyxl #openPyXl allows for excel file manipulation in python

def myFunction(fl,txt):
    myWb=pyxl.load_workbook(fl.name) #Load excel file
    tab = pyxl.worksheet.table.Table(displayName="Table3", ref="E1:F5") #Define new table
    style = pyxl.worksheet.table.TableStyleInfo(name="TableStyleMedium9",showRowStripes=True, showColumnStripes=True)
    tab.tableStyleInfo = style #Assign style to table
    ws=myWb.active 
    ws.add_table(tab) #Add defined table to sheet within the loaded workbook
    otpt_fl_name='try.xlsx' 
    myWb.save(otpt_fl_name) #Save file
    return otpt_fl_name #Define output for HFS interface

demo = gr.Interface(
    myFunction, #Func to take in file and text
    [
        gr.File(
        ),
        gr.Textbox(
            label="Initial text",
            lines=3,
            value="The quick brown fox jumped over the lazy dogs.",
        ),
    ],
    gr.File(),
    description="Enter refusal files",
)
demo.launch()

### Retrieving Disparate Tables
As mentioned previously, one challenge would be to pull data from tables scattered in an unpredictable way throughout the sheet. Here I had to remember that sometimes the easiest way to rob a bank is through the front door, not trying to break through the wall... I simply changed the existing excel template files (filled in by end user) so that the data tables were actually defined as 'Tables' by excel... this made them reference-able by the openPyXl tools. Some further data type transformations were required. Example with a blank book containing a trivial data table called 'tstTbl' in Excel:

In [12]:
import openpyxl as pyxl
import pandas as pd
import numpy as np
myWb=pyxl.load_workbook('../images/Other_Files/TblTestBook.xlsx') 
#Didn't think the .. parent directory would work but it does!
ws=myWb['Sheet1']
tab=ws.tables['tstTbl'] #Pull out table
ref=tab.ref #Pull cell reference to string for display
tab=[[x.value for x in sublist] for sublist in ws[tab.ref]] #Convert to list of lists (each sublist as row of excel table)
tab=pd.DataFrame(tab) #Convert nested lists to Dataframe
print('Table cells reference is "'+str(ref)+'":')
print(tab)

Table cells reference is "A1:C4":
         0        1        2
0  myHead1  myHead2  myHead3
1        1        a        .
2        2        b        ,
3        3        c        ]

And pulling info from multiple tables in a sheet

In [23]:
for t in ws.tables:
    tab=ws.tables[t]
    ref=tab.ref
    tab=[[x.value for x in sublist] for sublist in ws[tab.ref]]
    tab=pd.DataFrame(tab)
    print('Table cells reference is "'+str(ref)+'":')
    print(tab)
    print('')

Table cells reference is "A1:C4":
         0        1        2
0  myHead1  myHead2  myHead3
1        1        a        .
2        2        b        ,
3        3        c        ]

Table cells reference is "G13:H17":
       0      1
0  Names  Hours
1  Alice      4
2    Bob     20
3  Clark      8
4   Dave     15

Table cells reference is "G7:H11":
         0      1
0    Names  Hours
1   Arnold      4
2     Bill     60
3  Charles     53
4     Dick     10

Table cells reference is "C18:D22":
        0      1
0   Names  Hours
1  Arthur     24
2  Blaire     70
3   Chuck     22
4  Darryl     12

At this point I can say I am constantly resisting the urge to just run away with the coding! Trying to enforce a best practice of starting off with creating not just an abstract understanding of the problem, but a particular and specified framework in which I am operating, that is, figuring out the specific nature of the inputs I will have before I go nuts building my tower of babel! Next is to mock up a way to retrieve data when a worksheet has a single 'table' not defined in Excel. That is, manually entered data in a tabular format that due to legacy sheet formatting is not able to be defined as a native Excel Table, precluding the use of table indexing seen in the previous example... My approach assumes a known top left cell, and knowing in my framework that only certain columns will be required here.

In [36]:
myWb=pyxl.load_workbook('../images/Other_Files/Full Time Refusals Template 2020.xlsm')
ws=myWb['Hourly OT']
#sxn=[[x.value for x in sublist] for sublist in ws["A1:P20"]]
#sxn
df=pd.DataFrame(ws.values)
df

,0,1,2,3,4,5,6,7,8,9,...,16229,16230,16231,16232,16233,16234,16235,16236,16237,16238
0,Week Of:,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Seniority,Crew,Empl.#,Last Name,First Name,TOTAL OT HOURS (YTD - Worked & Ref),Total Refused Hours,Total Refused Hours charged,Total Hours Worked,Refused Hours PLUS Worked Hours,...,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,80,Blue,7096688,ADCOCK,Kory,None,"=SUM(BC5,BH5,BM5,BR5,BW5,CB5,CF5,CJ5,CN5)","=SUM(BD5,BI5,BN5,BS5,BX5,CC5,CG5,CK5,CO5)","=SUM(BE5,BJ5,BO5,BT5,BY5,CD5,CH5,CL5,CP5)","=SUM(G5,I5)",...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
195,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
196,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
197,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
198,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [11]:
ws=myWb['Arb_Tbl']
df = pd.DataFrame(ws.values)
val_df=df[df != None ]
df

,0,1,2,3,4,5,6,7,8
0,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None,None
2,Name,id,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7
3,Bob Back,0,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5
4,Jeff Jahl,1,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5
5,Hodge Hoss,2,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5
6,Kev Kroll,3,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5
7,Tim Tin,4,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5,=RAND()*5